.background    { background-image: url("wallTile.jpg");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url("Toxic.jpg");
				 background-repeat: repeat-x; }
.wall          { background-image: url("wallTile3.jpg");
				 background-repeat: repeat-x; }
.floater       { background-image: url("WoodFloater.jpg");
				 background-repeat: repeat-x; }
.portal        { background-image: url("Portal.png");
				 background-repeat: repeat-x; }
.end           { background-image: url("End.jpg");
				 box-shadow: -4px -7px 8px white, 4px -7px 8px white; }

.actor  { position: absolute;  }
.player { background-image: url("Player.png"); }
.coin { background-image: url("Coins.png"); }
.jump { background-image: url("JumpBoost.png"); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
	background-image: url("PlayerLost.png");
	box-shadow: -4px -7px 8px red, 4px -7px 8px red;
}
.won .player {
	background-image: url("PlayerWon.png");
	box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.playerJump { 
	background: rgb(255,255, 0)
}