.background    { background: rgb(110, 15, 5);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(100, 240, 0); }
.wall          { background: rgb(35, 35, 45);   }
.floater       { background: rgb(130, 70, 20); }

.actor  { position: absolute;  }
.player { background: rgb(50, 180, 250); }
.coin { background: rgb(250, 0, 250); }
.poison { background: rgb(255, 0, 0); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
